pipeline/pl_dynamic_table_loading with schema.json
{
	"name": "pl_dynamic_table_loading with schema",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "ds_Hidrationfile",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('Select ',item().SrcColumns,' From ',item().SrcSchema,'.',item().SrcTableName)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_azure_database_copy1",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().SrcTableName",
											"type": "Expression"
										},
										"SchemaName": {
											"value": "@item().SrcSchema",
											"type": "Expression"
										},
										"Columns": {
											"value": "@item().SrcColumns",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_Azureblobstorage_copy1",
									"type": "DatasetReference",
									"parameters": {
										"SrcTableName": {
											"value": "@item().SinkTableName",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "@item().ContainerName",
											"type": "Expression"
										},
										"SrcSchemaName": {
											"value": "@item().SinkSchema",
											"type": "Expression"
										},
										"SinkTableName": {
											"value": "@item().SinkTableName",
											"type": "Expression"
										},
										"SinkSchemaName": {
											"value": "@item().SinkSchema",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Columns",
								"value": {
									"value": "@item().SrcColumns",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"SrcTableName": {
				"type": "String"
			},
			"SrcSchemaName": {
				"type": "String"
			},
			"Columns": {
				"type": "String"
			},
			"SinkTableName": {
				"type": "String"
			},
			"SinkSchemaName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-03-27T01:43:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}